<table class="table table-striped w-auto" border="1">

  <!--Table head-->
  <thead>
    <tr>
      
      
          <th>Full Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>State</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    
  
          <tr *ngFor="let item of requests " class="table-info" >
      
                 
                      <td  >{{item.user.name}} {{item.user.nickname}} </td>

                      <td  >{{item.startDate}}</td>
                      <td  >{{item.endDate}}</td>
                      
                      <td  > <div  *ngIf="!item.treated ; else elseTemplate" style="color:indianred">
                        not treated yet 
                      </div>
                      
                      <ng-template #elseTemplate>
                        <div *ngIf="item.accepted" style="color:green">Accepted</div>
                        <div *ngIf="!item.accepted" style="color:red">Refused</div>
                      </ng-template>
                       </td>
                  
                  </tr>
            
   
    
  </tbody>
  <!--Table body-->


</table>