
<header class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="site-logo">
          <img src="assets/img/logo.png" alt="">
        </div>
        <div class="nav-switch">
          <i class="fa fa-bars"></i>
        </div>
      </div>
     <!-- <div class="col-lg-3 col-md-3">
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
           <div *ngIf ="authService.isLoggedIn" class="nav-item text-white">
                <a class="dropdown-item"  (click)="authService.logout()">Logout</a>
                <a class="dropdown-item"  routerLink="NewCourses">New Course</a>
                <a class="dropdown-item"  routerLink="myCourses/{{id}}">My courses</a>
                
            
        </div>
        <div *ngIf ="!authService.isLoggedIn" class="nav-item text-white">
            <a class="dropdown-item"  routerLink="Registration">Registre now</a>
        
    </div>
          </div>
        </div>
      
          
      </div>--> 
  <div class="col-lg-9 col-md-9">
   
  <a  class="site-btn header-btn" routerLink="auth/signUp" *ngIf="!(authservice.isLoggedIn)">Sign Up</a>
  <a class="site-btn header-btn " (click)="logOut()"  *ngIf="(authservice.isLoggedIn)">Logout</a>
        <nav class="main-menu">
          <ul>
            <li><a routerLink="router" *ngIf="isAdmin()" >Users</a></li>
            <li><a routerLink="router" *ngIf="isAdmin()" >Requests</a></li>
            <li><a routerLink="toyoy" *ngIf="!isAdmin()">My requests</a></li>
            <li><a routerLink="auth/profile">Profile</a></li>
           <!-- <li> <a *ngIf ="authService.isLoggedIn"  (click)="authService.logout()">Logout</a></li>
               <li> <a  *ngIf ="authService.isLoggedIn"   routerLink="NewCourses">New Course</a></li>
                <li><a *ngIf ="authService.isLoggedIn"   routerLink="myCourses/{{id}}">My courses</a> </li>-->
                
            
       
       
               <li> </li>
        
  
          </ul>
          
        </nav>
      </div>
    </div>
  </div>
</header>
