



<body>
	
  <!-- Page Preloder -->
  <div id="">
    <div class=""></div>
  </div>

  <!-- Header section -->
  <app-main-header></app-main-header>
  <!-- Header section end -->


  <!-- Hero section -->
  <section class="hero-section set-bg" data-setbg="assets/img/bgg.jpg" style="background-image: url('assets/img/bgg.jpg');">
    <div class="container">
      
     <app-sign-in></app-sign-in>
    </div>
  </section> 
  <!-- Hero section end -->
  <div class="container" >

  <!-- categories section -->
  <router-outlet ></router-outlet>
</div>
  <!-- categories section end -->


  <!-- search section -->
  
  <!-- search section end -->


  <!-- course section -->
  
  
  <!-- course section end -->


  <!-- signup section -->
  
  <!-- signup section end -->


  <!-- banner section -->
  
  <!-- banner section end -->


  <!-- footer section -->
  <app-main-footer></app-main-footer>
  <!-- footer section end -->


  <!--====== Javascripts & Jquery ======-->


</body>	

