<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            
            <th>Full Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let item of requests">
            
            
            <td *ngIf="!item.treated">{{item.user.name}} {{item.user.nickname}}</td>
            <td *ngIf="!item.treated">{{item.startDate}}</td>
            <td *ngIf="!item.treated">{{item.endDate}}</td>
            <td *ngIf="!item.treated">
                <button type="button" class="btn btn-success" (click)="accpet(item.id,item.startDate,item.endDate,item.reason,item.treated,item.accepted,item.user.id)" >Accept</button>
                <button type="button" class="btn btn-danger" (click)="refuse(item.id,item.startDate,item.endDate,item.reason,item.treated,item.accepted,item.user.id)">Refuse</button>
                <button type="button" class="btn btn-info">Details</button></td>
       
        </tr>
        
    </tbody>
</table>

<!--Table-->
<table class="table table-striped w-auto" border="1">

        <!--Table head-->
        <thead>
          <tr>
            
            
                <th>Full Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>State</th>
          </tr>
        </thead>
        <!--Table head-->
      
        <!--Table body-->
        <tbody>
          
        
                <tr *ngFor="let item of requestss " class="table-info" >
            
                       
                            <td  *ngIf="item.treated">{{item.user.name}} {{item.user.nickname}} </td>
                            <td  *ngIf="item.treated">{{item.startDate}}</td>
                            <td  *ngIf="item.treated">{{item.endDate}}</td>
                            <td  *ngIf="item.treated"><div *ngIf="item.accepted" style="color:green">Accepted</div> <div *ngIf="!item.accepted" style="color:red">Refused</div> </td>
                        
                        </tr>
                  
         
          
        </tbody>
        <!--Table body-->
      
      
      </table>
      <!--Table-->