<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            
            <th>Full Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let item of requests">
            
            
            <td>{{item.user.name}} {{item.user.nickname}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.endDate}}</td>
            <td>Accepte/Decline</td>
       
        </tr>
        
    </tbody>
</table>
