<section class="signup-section spad" >
  <div class="signup-bg set-bg" data-setbg="img/signup-bg.jpg" style="background-image: url('assets/img/signup-bg.jpg');"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="signup-warp">
            <div class="section-title text-white text-left">
              <h2>Sign up </h2>
              
            </div>
            <!-- signup form -->
            <div class="signup-form">
              <input type="text" placeholder="Your Name" #name
              class="validate">
              <input type="text" placeholder="Your Llast Name" #lastname 
              class="validate">
              <input type="email" placeholder="Your E-mail" #email
              class="validate">
              
              <input type="password" placeholder="password" #password 
              class="validate">
              <input type="password" placeholder="confirme password" #passwordconfirmation>
             
              <button class="site-btn" (click)="Registre(name.value,lastname.value,email.value,password.value,passwordconfirmation.value)">Registre</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>